<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/models/Contact.js"></script>
     <script type="text/javascript" src="../js/views/contact.js"></script>
    <title>Cat's World-ContactUs</title>
    
</head>
<body>
    <!--menu-->
      <div class="header" >
          <img class="logo"  height=5% width=5% src="../images/logo0.png"></img>
                <ul>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li><a href="publicArticles.html">Articles</a></li>
                        <li><a href="home.html">Home</a></li>
                        
                </ul>
               
           </div>  
           <!-- end menu-->
    
        <br>
        
            <p>Contact us</p>
        <section class="js-contact">
        <div class="row">
            <div class="contactus">
                <img width=4% height=4% src="../images/email.png"></img>
                <input  class="mail" type="text" name="email" placeholder="Email"/>
            </div>
            <br>
            <div class="contactus" >
                <img width=4% height=4% src="../images/speech.png"></img>
                <textarea rows="5" cols=" 23" id="content" class="message" type= "text" name="message" placeholder="Need help?"> </textarea>
                <br>
                <button class="submit-btn send" id="contact-message" type="submit" value="Send">Send</button>
            </div>
        </div>
        </section>
    
    
    

</body>
</html>

