<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css" />
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../css/style.css" type="text/css" />
        <script type="text/javascript" src="../js/models/User.js"></script>
        <script type="text/javascript" src="../js/models/Users.js"></script>
        <script type="text/javascript" src="../js/views/login.js"></script>
        <title> Cat's World - Login</title>
    </head>
    <body>
        
        <img class="logo"  height=5% width=5% src="../images/logo0.png"></img>
          
        
        
        <h1 id="welcome-msg"></h1>
        <br>
        <button id="logout-btn" class="hide btn">Logout</button>
        <section class="loginForm" id="login-form">
            <label>Email</label>
            <br>
            <img width=4% height=4% src="../images/user.png"></img>
            <input id="email" type="text" name="user_email"/>
            <br>
            <label>Password</label>
            <br>
            <img width=4% height=4% src="../images/password.png"></img>
            <input id="password" type="password" name="user_password"/>
            <br>
            <button class="btn" id="login-btn">Login</button>
        </section>
      



    </body>
</html>